* {
  box-sizing: border-box;
}

main {
  padding: 10px;
  max-width: 800px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  color: #180B66FF;
}

a {
  text-decoration: none;
}

.logo {
  font-weight: bold;
  text-decoration: none;
  color: #180B66FF;
}

nav {
  font-weight: bold;
}

nav a {
  margin-right: 20px;
  color: #180B66FF;
}

nav a:last-child {
  margin-right: 0; /* last elements right has no space */
}

img { /* centralise the img */
  display: block;
  margin: 0 auto;
}

form {
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form div {
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

form input[type="text"],
form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
}

form input[type="text"]:focus,
form input[type="password"]:focus {
  border: 2px solid #0d044b;
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #180b66;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #180b66; /* should be change */
}

form h1 {
  text-align: center;
  color: #180b66;
}

.post {
  margin-top: 30px;
}
